<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>폼전송 결과</title>
    <style>
      span {
        color: coral;
        font-weight: 700;
      }
    </style>
  </head>

  <body>
    <h1><%= title %> 폼결과 확인하기</h1>
    <h3><span><%= userInfo.name%></span>님 환영합니다</h3>
    <p>성별 <span><%= userInfo.gender%></span></p>
    <p>
      생년월일
      <span><%= userInfo.year%>/<%= userInfo.month%>/<%= userInfo.day%></span>
    </p>
    <p>
      관심사
      <span><%= userInfo.favorite%></span>
    </p>

    <% if(addInfo){ %>
    <p>좋아하는 색깔 <span><%= userInfo.color%></span></p>
    <p>좋아하는 숫자 <span><%= userInfo.number%></span></p>
    <% } %>

    <a href="/">홈으로 이동</a>
  </body>
</html>
